<div class="full">
  <div class="wraper">
    <h2>Sign Up</h2>
  <form>
  <div class="name">
    <label>Full Name</label>
      <input type="text" id="fname"  required>
    </div>
    
  <div class="contact">
      <label>Mobile Number</label>
      <input type="tel" id="contact-no"  required>

    </div>
  <div class="emai">
      <label>Email Address</label>
    <input type="email" id="eami-address" placeholder=" (optional)"> 
  </div>
  <div class="usname">
      <label>UserName</label>
      <input type="text" id="user"  required > 
    </div>
  <div class="password">
      <label>Enter Password</label>
    
      <input type="password" id="pass" required minlength="6"> 
    </div>
    <div class="btn">
        <button name="submit" id="btn" type="submit" >Sign Up </button>
       </div>
       <span>OR</span>
       <div class="fb-btn">
          <button name="submit" id="fb-btn" type="submit" >Sign in Using Facebook</button>
         </div>
  </form>
</div>

</div>