.full{display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    padding: 100px 100px;
}
.wraper{
    background-color: whitesmoke;
    padding: 10px 50px 50px 50px;
    width: 40%;
    font-family:  EngraversGothic BT, serif;
}
#fname,#contact-no, #eami-address,#user,#pass{
width: 60%;
margin-left: 15%;
padding: 10px 10px 10px 7px;
margin-top: 20px;
margin-bottom: 20px;
font-family:  EngraversGothic BT, serif;
}


#btn{
    background-color: black;
    border: none;
    color: #ffffff;
    font-size: 12px;
    font-family: EngraversGothic BT, serif;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 43px;
    height: 44px;
    padding: 0 30px;
    text-transform: uppercase;
   margin-left: 15%;
   width: 63%;
   cursor: pointer;
   margin-bottom: 10px;
   margin-top: 10px;
}
input[type=text]:focus{
    outline: 1px solid #333333;    
  }
  input[type=email]:focus{
    outline: 1px solid #333333;    
  }
  input[type=password]:focus{
    outline: 1px solid #333333;    
  }
  input[type=tel]:focus{
    outline: 1px solid #333333;    
  }
label{
    font-size: 12px;
    font-family:EngraversGothic BT, serif;
    position: absolute;
    margin-left: 5.3%;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}
#fb-btn{
    background-color: #3B5998;
    border: none;
    color: #ffffff;
    font-size: 12px;
    font-family: EngraversGothic BT, serif;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 43px;
    height: 44px;
    padding: 0 30px;
    text-transform: uppercase;
   margin-left: 15%;
   width: 63%;
   cursor: pointer;
   margin-top: 10px;
}
span{
    font-size: 11px;
    margin-left: 43%;
    
}
@media only screen and (max-width: 480px){
    #fname,#contact-no, #eami-address,#user,#pass{
      
        width: 45vh;
        margin-left: -30px;
        
        }
        label{
            font-size: 1.5vh;
            margin-left: -8%;
            letter-spacing: 2px;
            
        }
        #btn{
           
            font-size: 1.5vh;
           letter-spacing: 2px;
           margin-left: -35px;
           width: 49vh;
          
        }
        #fb-btn{
           -webkit-text-size-adjust: 100%;
            letter-spacing: 2px;
            margin-left: -35px;
            width: 49vh;
        }
        h2{
            display: block;
            font-size: 3vh;
            margin-left: -26px;
            
        }
        .wraper{
            margin-top: -100px;
            padding-right: 150px;
            width: 100%;
            
        }
        span{
            margin-left: 80%;
        }
        
}